$darkBlue: #0b5394;
$darkGrey: #666666;
$darkerGrey: #434343;
$burntOrange: #b85b22;
$lightGrey: #f3f3f3;

$finalColumnWidth: 20px;
$gridRowTemplate: 15% 26% 8% 8% 8% 8% 11% auto $finalColumnWidth;


body {
    width: 100%;
    //max-width: 1600px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

input {
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    text-align: center;
    color: $darkBlue;
}

textarea {
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 18px;
    min-height: 18px;
}

header {
    //display: none;
    nav {
        width: 100%;
        //height: 60px;
        top: 0;

        ul {
            //padding: 20px;
            margin: 0 auto;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
                //margin: 0 10px;
            }
        }
    }
}

.container {
    margin: auto;
    display: none;
}

#estimate {
    margin: 0 2% 25px 2%;
    width: 100%;

    #estimate-name {
        margin-top: 40px;
        border-bottom: 3px solid $darkBlue;
        width: 100%;
        margin-bottom: 20px;

        input {
            font-size: 40px;
            font-weight: bold;
            color: $darkBlue;
            width: 100%;
            text-align: left;
        }
    }

    #estimate-info {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .left {
            text-align: right;
            padding-right: 5px;
            padding-top: 2px;

            > div {
                height: 25px;
                padding-right: 10px;
            }
        }

        .right {
            text-align: left;

            > div {
                height: 25px;
            }
        }

        .root-info-label {
            color: $darkGrey;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }

        input.root-info-input {
            color: black;
            font-weight: normal;
            font-size: 15px;
            width: 300px;
            text-align: left;

            &#estimate-date {
                height: 20px;
            }
        }
    }

    #estimate-grid-headers {
        display: grid;
        grid-template-columns: $gridRowTemplate;
        grid-template-rows: 30px 30px;
        grid-template-areas: "tasks tasks tasks tasks tasks tasks costs costs costs" "task description optimistic likely pessimistic calculated estimated cost cost";
        width: 100%;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #task-header {
            grid-area: tasks;
            background-color: $darkBlue;
            color: white;
        }

        #calc-header {
            grid-area: costs;
            background-color: $burntOrange;
            color: white;
        }

        .second-row {
            background-color: $lightGrey;
            font-size: 13px;
        }

        .second-row-task {
            color: $darkBlue;
        }

        .second-row-calc {
            color: $burntOrange;
        }

        .second-row-padding {
            padding-right: 0px;
        }

        .task {
            grid-area: task;
        }

        .description {
            grid-area: description;
        }

        .optimistic {
            grid-area: optimistic;
        }

        .likely {
            grid-area: likely;
        }

        .pessimistic {
            grid-area: pessimistic;
        }

        .calculated {
            grid-area: calculated;
        }

        .estimated {
            grid-area: estimated;
            color: $darkGrey;
        }

        .cost {
            grid-area: cost;
            color: $darkGrey;
        }
    }

    .section {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: $gridRowTemplate;
        grid-auto-rows: min-content max-content;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        position: relative;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section-header {
            color: $burntOrange;
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            padding-bottom: 5px;
            border-bottom: 2px solid $darkerGrey;
            margin-bottom: 10px;
        }

        .section-title {
            grid-column: span 6;

            input {
                font-size: 24px;
                font-weight: bold;
                color: $darkerGrey;
                width: 100%;
                text-align: left;
            }
        }

        .section-hours {
            grid-column: span 1;
        }

        .section-cost {
            color: $burntOrange;
            grid-column: span 1;
            padding-left: $finalColumnWidth;
        }

        .remove-section {
            grid-column: span 1;
            cursor: pointer;
            color: red;
            font-size: 32px;
        }

        .line-task {
            > input {
                width: 95%;
                color: $darkBlue;
                text-align: left;
            }
        }

        .line-description {

            > textarea {
                width: 100%;
                color: $darkBlue;
            }
        }

        .line-optimistic {
            > input {
                width: 40%;
                text-align: center;
                color: $darkBlue;
            }
        }

        .line-likely {
            > input {
                width: 40%;
                text-align: center;
                color: $darkBlue;
            }
        }

        .line-pessimistic {
            > input {
                width: 40%;
                text-align: center;
                color: $darkBlue;
            }
        }

        .line-calculated {
            font-weight: bold;
            color: $darkBlue;
        }

        .line-cost {
            color: $burntOrange;
            padding-left: $finalColumnWidth;
        }

        .add-line {
            grid-column: span 1;
            color: green;
            font-size: 30px;
            cursor: pointer;
            width: 20px;
            height: 10px;
        }

        .remove-line {
            grid-column: span 1;
            color: red;
            font-size: 30px;
            cursor: pointer;
            margin-top: -2px;
        }
    }

    .section-manager {
        grid-column: span 10;
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0px;
        height: 8px;
        overflow-y: hidden;
        transition: height .5s;

        .section-manager-content {
            width: 100%;
            position: absolute;
            top: -30px;
            left: 0px;
            display: grid;
            grid-gap: 0px;
            grid-template-columns: $gridRowTemplate;
            grid-auto-rows: min-content max-content;
            background-color: #d9dada;
            padding-top: 5px;
            transition: top .5s;

            .pert-weight {
                grid-column: 2;
                justify-self: end;
            }

            .currency-rate {
                grid-column: 7;

                .input-currency {
                    position: relative;

                    &:before {
                        position: absolute;
                        top: 0;
                        content: "$";
                        font-size: 14px;
                        padding-top: 2px;
                    }

                    > input {
                        padding-left: 8px;
                        width: 40px;
                    }
                }
            }

            .mgr-arrow {
                grid-column: span 10;
                font-size: 11px;
                position: relative;
                top: 3px;
                cursor: default;
            }
        }
    }

    #total-row {
        margin-top: 45px;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: $gridRowTemplate;
        grid-auto-rows: min-content max-content;
        width: 100%;
        text-align: center;
        grid-row-gap: 7px;

        > div {
            color: $burntOrange;
            font-size: 24px;
            font-weight: bold;
        }

        div.new-section {
            grid-column: 1;
            color: $darkGrey;
            opacity: .5;
            text-align: left;
            cursor: pointer;

            span.add-section-icon {
                color: green;
                font-size: 35px;
                position: relative;
                top: 2px;
            }
        }

        div.total-text {
            grid-column: 7;
        }

        div.total-val {
            grid-column: 8/9;
        }
    }
}

#right-controls {
    position: absolute;
    right: 2%;
    top: 10px;
}

#left-controls {
    position: absolute;
    left: 2%;
    top: 10px;
}

button#downloadpdf {
    font-family: 'Roboto', sans-serif;
    background: $burntOrange;
    color: white;
    height: 30px;
    /*position: absolute;
    top: 5px;
    right: 2%;*/
}

button#printestimate {
    font-family: 'Roboto', sans-serif;
    background: $burntOrange;
    color: white;
    height: 30px;
    /*position: absolute;
    top: 40px;
    right: 2%;*/
}

button#resetestimate {
    font-family: 'Roboto', sans-serif;
    background: $darkBlue;
    color: white;
    height: 30px;
    /*position: absolute;
    top: 5px;
    left: 2%;*/
}

#saving {
    position: fixed;
    bottom: 2px;
    right: 2px;
    background-color: beige;
    color: black;
    height: 15px;
    width: 60px;
    text-align: center;
    opacity: 0;
    font-size: 12px;
}

footer {
    margin-top: 50px;
}
